*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Задание базовых переменных */
:root{
    /* Отступы между ячейками */
    /* 1vw/1vh - 1 процент от "резиновой ширины/высоты" */
    /* Размер шрифтов будет автоматически подстариваться под разрешение */
    --gap: .5em;
    --index: calc(1vw + 1vh);
    --color-dark: #000;
}

body{
    overflow: hidden;
    /* Централизация Architecture */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    text-transform: uppercase;
    /* Системные шрифты */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1em;
    font-size: calc(var(--index) * 2.8);
    
    position: absolute;
    font-weight: 200;
    
    text-align: center;
    /* Прозрачность для шрифта */
    opacity: .9;
    
    margin-top: .2em;
}
.header span{
    display: block;
    
    font-family: Helvetica, sans-serif;
    font-size: calc(var(--index) * .75);
    
    margin-top: 5px;
}

.gallery{
    width: 30vw;
    column-width: 2em;
    /* Расстояние между изображениями */
    gap: var(--gap);
    /* Увеличение изображений */
    transform: scale(8.2);
    /* Выделение больших ресурсов для работы сайта */
    will-change: transform;
    /* Плавность перемещения */
    /* cubic-bezier - вариант оформления анимации */
    transition: transform 1s cubic-bezier(.075, 1, .250, 1), opacity 1s;
}

.gallery__item{
    margin-bottom: var(--gap);
    
    transform: scale(1.001);
    will-change: transform;
    
    transition: .3s;
}

.gallery__item:hover{
    transform: scale(1.03);
}

.gallery__item img{
    width: 100%;
    display: block;
}

.loaded .gallery{
    opacity: 1;
}

.loaded .header span{
    opacity: 0;
}


/* Dark Mode OS */
/* Переопределение цветов сайта при темной системной теме */

@media (prefers-color-scheme: dark){
    body{
        background-color: var(--color-dark);
    }
    
    .header{
        /* Инвертиование всего цвета для выбранного div (из белого в черный и наобарот) */
        filter: invert(100%);
    }
}

@media screen and (max-width: 980px) {
    .gallery{
        /* Увеличение изображений */
        transform: scale(4.2);
    }
}


























