p{
    color: #a1a1a6;
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    background: #fff;
    z-index: 1000;
}
footer{
    max-width: 100%;
    background-color: #000;
    min-height: 20vh;
    text-align: center;
    padding-top: 10vh;
}
.nav-a-edit{
    padding-left: 55px;
}

@media (max-width: 990px)  {
    .nav-a-edit{
        padding-left: 0px;
    }
}

.carousel-item-edit{
    background-color: #000;
    min-height: 92.5vh; /* 100vh - 100% от высоты viewport(окна браузера) */
    text-align: center;
    color: #fff;
}
.carousel-control-next-icon{
  width: 10px;
}
.carousel-control-prev-icon{
  width: 10px;
}
.carousel-item{
    padding-top: 36vh;
}

.container-about{
    max-width: 100%;
    background-color: #000;
    min-height: 100vh;
    text-align: center;
    padding-top: 10vh;
}

.container-about-p{
    color: #a1a1a6;
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    padding-right: 30vh;
    padding-left: 30vh;
}
@media (max-width: 990px)  {
    .container-about-p{
        padding-right: 0vh;
        padding-left: 0vh;
    }
}
.about-github{
    max-width: 100%;
    background-color: #000;
    min-height: 40vh;
    text-align: center;
    padding-top: 10vh;
}
.h1-white{
    color: #fff;
    text-decoration: underline;
}
.h3-row-services{
    margin-top: 3vh;
}
.row-services-1 {
    padding-top: 5vh;
}
.row-services{
    padding-top: 10vh;
    margin-bottom: 0vh;
}
.h3-services{
    margin-top: 4vh;
}
.row-services{
    margin-top: 5vh;
}

.nanobar {
    width: 100%;
    height: 4px;
    z-index: 9999;
    top:15px;
  }
  .bar {
    width: 0;
    height: 100%;
    transition: height .3s;
    color: transparent;
    background-image: linear-gradient(to right, #005e7f, #61b6cd);
  }
  .progress-skills{
      text-align: center;
      padding-top: 50px;
      margin-bottom: 120px;
  }
  .gradient-text{
      font-size: 27px;
    will-change: transform, opacity;
    display: inline-block;
    width: 100%;
    color: transparent;
    background-image: linear-gradient(to right, #005e7f, #61b6cd);
    -webkit-background-clip: text;
    background-clip: text;
  }
  @media (max-width: 990px)  {
    .progress-skills{
        padding-top: 0px;
    }
    .gradient-text{
        margin-top: 40px;
    }
}

.contact-me-div{
    padding-top: 30px;
}
.contact-me-i{
    padding-top: 30px;
    font-size: 18px;
    color: #fff;
}
.contact-me-img{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


.h1-hello{
  will-change: transform, opacity;
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(150deg, rgb(15, 68, 167) -18.65%, rgb(217, 90, 90) 81.35%, rgb(76, 167, 84) 181.35%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 60px;
}
.h1-title{
  text-decoration: underline;
  will-change: transform, opacity;
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(150deg, rgb(15, 68, 167) -124.42%, rgb(217, 90, 90) -24.42%, rgb(76, 167, 84) 75.58%);
  -webkit-background-clip: text;
  background-clip: text;
}
.h3-title{
  text-decoration: underline;
  will-change: transform, opacity;
  display: inline-block;
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to right, #005e7f, #61b6cd);
  -webkit-background-clip: text;
  background-clip: text;
}


.about-scroll{
  min-height: 319px;
}
.about-scroll h1{
  display: none;
}
.about-scroll p{
  display: none;
}
.h3-title{
  display: none;
}
