body{
    margin: 0;
    font-family: ;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    
    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

/* Container */
/* ======================= */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
/* ======================= */

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
}



.header__logo{
    text-align: center;
    font-family: 'Smooch', cursive;
    font-size: 48px;
    color: #fff;
    border-bottom: 1px solid #cfd0d1;
}

.header.fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    height: 50px;*/
    position: fixed;
    background-color: #F4F4F4;
    color: #000;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-shadow:0px 1px 1px #de1dde;
    -moz-box-shadow:0px 1px 1px #de1dde;
    box-shadow:0px 1px 1px #DADADA;
}

.header.fixed .header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.fixed .header__logo{
    width: auto;
    border-bottom: none;
    color: #000;
}

.header.fixed .nav__link{
    color: #000;
    margin: 2px 30px;
}

/* Burger */
/* ======================= */

.burger{
    display: none;
    
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
}

.burger__item{
    display: block;
    width: 28px;
    height: 3px;
    
    background-color: #fff;
    
    font-size: 0;
    color: transparent;
    
    position: relative;
}

.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    
    background-color: #fff;
    
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before{
    top: -8px;
    width: 28px;
}

.burger__item:after{
    bottom: -8px;
    width: 28px;
}



/* Nav */
/* ======================= */

.nav{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin: 15px 50px;
    
    transition: color 0.1s linear;
}

.nav__link:first-child{
    padding-left: 0;
}

.nav__link:last-child{
    padding-right: 0;
}

.nav__link:hover{
    opacity: 1;
    color: #ff3d4f;
}

.header.fixed .nav__link:hover{
    color: #ff3d4f;
}

/* Intro */
/* ======================= */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    height: 780px;
    
    background-image: url("img/background_image.jpg");
    background-position: 50% 0px;
    
    align-items: center;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    
    display: flex;
    min-height: 100vh;
    position: relative;
    filter: brightness(70%)
}

.intro h1{
    font-size: 50px;
    font-weight: 200;
    color: #fff;
}

.intro h5{
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

/* Section Title */
/* ======================= */

.section__title{
    padding: 80px 0px;
    width: 100%;
    text-align: center;
    color: #ff3d4f;
}

.section__title__text::after{
    margin-top: 10px;
    content: "";
    width: 100px;
    height: 3px;
    background-color: #ff3d4f;
    
    position: absolute;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section__overtitle{
    font-weight: 700;
    font-family: 'Smooch', cursive;
    font-size: 25px;
    color: #000;
}

/* About */
/* ======================= */

.about{
    background-color: #fcfcfc;
    padding-bottom: 30px;
}

.about__inner{
    display: flex;
    flex-wrap: wrap;
}

.about__block{
    width: 50%;
    padding: 0px 40px;
    margin: 20px 0;
    
    text-align: left;
    color: #ff3d4f;
}

.about__bold{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15;
    color: #212529;
    font-style: normal;
}

.about__text{
    color: #777777;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    font-style: italic;
}

.skill{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.skills{
    padding-top: 10px;
}

.skill__progress{
    margin-top: 8px;
    margin-bottom: 30px;
    
    background-color: #ff3d4f;
    position: relative;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    transition-duration: 1.5s;
}

/* GitHub */
/* ======================= */

.github{
    padding: 50px 0px;
    background: url("img/background_gray.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

.github__title{
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15;
    color: #212529;
    font-style: normal;
}

.github__subtitle{
    margin-bottom: 20px;
}

/* Button */
/* ======================= */

.btn{
    display: inline-block;
    vertical-align: top;
    
    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-size: 16px;
    color: #fff;
    background-color: #ff3d4f;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 14px 40px;
    
    transition: background 0.1s linear;
}

.btn:hover{
    background-color: #e93232;
}

/* Works */
/* ======================= */

.works{
    padding-bottom: 50px;
}

.work{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work__item{
    width: 33.33333%;
    padding: 0 15px;
}

.work__img{
    background: linear-gradient(to bottom, #578d57, #687068);
    transition: transform 0.2s linear;
}

.work__item:hover .work__img{
    transform: translate3d(-10px, -10px, 0);
}

.work__item:hover .work__text{
    opacity: 1;
}

.work__item:hover .work__img img{
    opacity: 0.1;
}

.work__img img{
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity 0.1s linear;
}

.work__text{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.work__inner{
    background-color: #708a70;
    position: relative;
}

.work__info{
    margin-top: 20px;
    text-align: center;
}

.work__title{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.work__subtitle{
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.work__name{
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}

.work__prof{
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/* Map */
/* ======================= */

.map{
    display: flex;
    flex-wrap: column;
    background: url("img/map-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 40px 0;
    
    text-align: center;
    
    font-weight: 600;
    font-size: 26px;
    line-height: 1.5;
    
    color: #212529;
    text-decoration: none;
}

.map p{
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    font-style: normal
}

/* Feedback */
/* ======================= */

.feedback{
    padding-bottom: 30px;
}

.feedback .section__title{
    padding-bottom: 20px;
}

/* Footer */
/* ======================= */

.footer{
/*    background-color: #212529;*/
    background-color: #48494b;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
}

.footer__block{
    width: 33.33333%;
    padding: 0 15px;
    text-align: center;
}

.footer__title{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__text{
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
}

.footer__text a:first-child{
    margin-left: 0;
}

/* Copyright */
/* ======================= */

.copyright{
    font-size: 14px;
    background-color: #212529;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Media */
/* ===============================================*/

@media (max-width: 991px) {
    
    /* Nav Burger*/
    .burger{
        display: block;
        padding-right: 50px;
    }
    
    .nav{
        display: none;
    }
    
    .nav.show{
        width: 100%;
        padding: 50px 0px;
        
        text-align: center;
        font-size: 30px;
        background-color: #708a70;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        
        top: 100%;
        left: 0;
    }
    
    /* Header */
    .header.fixed .nav.show a{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__logo{
        border-bottom: none;
        padding-left: 50px;
    }
    
    /* Intro */
    .intro__title{
        font-size: 66px;
    }
    
    .intro__subtitle{
        font-size: 32px;
    }
    
    /* About */
    .about__block{
        width: 100%;
    }
    
    /* Work */
    .work__item{
        width: 50%;
    }
    
    .work__info{
        margin-bottom: 20px;
    }
    
}

@media (max-width: 767px){
    
    /* About */
    .about__bold{
        font-size: 45px;
    }
    
    /* Section */
    .section__title{
        padding-bottom: 40px;
    }
    
    /* Skill */
    .skill{
        font-size: 25px;
    }
    
    /* Work */
    .work__item{
        width: 100%;
    }
    
    .work__name{
        font-size: 25px;
    }
    
    .work__prof{
        font-size: 18px;
    }
    
    /* Footer */
    .footer__block{
        width: 100%;
        padding-bottom: 30px;
    }
    .footer__block:last-child{
        padding-bottom: 10px;
    }
}

@media (max-width: 414px){
    
    /* Header */
    .header__logo{
        padding-left: 0px;
        font-size: 38px;
    }
    
    /* Burger */
    .burger{
        padding-right: 0px;
    }
    
    /* About */
    .about__bold{
        font-size: 35px;
    }
}



















